{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HerData - LoginPage</title>
    <link rel="stylesheet" href="{% static 'livestock/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Herdata</h1>
        <p>Livestock Management Platform</p>
        <a href="/signup">SignUp</a>
    </header>
    <main>
        <section id="cta">
            <div class="form-container">
                <form method="POST">
                    {% csrf_token %}
                    <label for="id_username">Username:</label>
                    {{ form.username }}
                    <!-- <small>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small><br><br> -->
                    <br><br>

                    <label for="id_password">Password:</label>
                    {{ form.password }}
                    <!-- <small>Your password must contain at least 8 characters.</small> -->
                    <br><br>

                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Herdata. All rights reserved.</p>
    </footer>
</body>
</html>