{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HerData - Add-Livestock</title>
</head>
<body>
    <nav class="navbar justi navbar-expand-lg navbar-dark bg-dark p-2">
        <a class="navbar-brand" href="{% url 'home' %}">Her<span>Data</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'analysis' %}">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
            <div class="container">
                <div class="cta-title">
                    <h3>Add to livestock</h3>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_breed">Breed:</label>
                        {{ form.breed }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_age">Age:</label>
                        {{ form.age }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_gender">Gender:</label>
                        {{ form.gender }}
                    </div>

                    <div class="mb-3">
                        <label for="id_status">Health Status:</label>
                        {{ form.health_status }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_image">Breed Image:</label>
                        {{ form.breed_image }}
                    </div>
                    <button class="btn btn-outline-success" type="submit">Sign Up</button>
                </form>
            </div>
            <footer class="bg-body-tertiary fixed-bottom text-center">
                <!-- Grid container -->
                <div class="container p-4"></div>
                <!-- Grid container -->
              
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                    &copy; 2024 Herdata. All rights reserved.
                </div>
                <!-- Copyright -->
              </footer>
</body>
</html>