/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

a {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}


/* form field */
.form-container {
    width: 500px;
    margin: 0 auto;
}

/* Form Inputs */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Submit Button */
.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Submit Button Hover Effect */
.form-container button[type="submit"]:hover {
    background-color: #45a049;
}

 /* Livestock Card */
 .livestock-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

/* Livestock Card Hover Effect */
.livestock-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Livestock Card Image */
.livestock-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Livestock Card Title */
.livestock-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Livestock Card Text */
.livestock-card p {
    margin-bottom: 5px;
}